---
---

@charset 'utf-8';

// Enable on development
// ====================
// * {
//   background-color: rgba(0, 0, 0, 0.1)
// }

// Our variables
$base-font-family: 'Heebo', Helvetica, Arial, sans-serif;
// $color-base: #AC5869;
// $color-base: #18452E;
// $color-base: #A2001D;
$color-base: rgb(156, 30, 223);
$color-second: #591F2F;
$color-black: #444;
$color-gray: #F2F2F2;

@import
        'base',
        'header',
        'header-menu',
        'content',
        'articles',
        'videos',
        'talks',
        'modal',
        'collapse',
        'training',
        'projects',
        'footer',
        'syntax-highlighting'
;
