<footer class="footer">
  <div class="footer__sources">
    <div class="footer__sources--links">
      <a href="https://www.linkedin.com/in/igorhalfeld/" target="_blank">
        linkedin
      </a>
      •
      <a href="https://twitter.com/igorhalfeld" target="_blank">
        twitter
      </a>
      •
      <a href="https://github.com/igorhalfeld" target="_blank">
        github
      </a>
    </div>
    <!-- <div class="footer__sources--logo">
      <img src="/assets/img/logo.jpeg" alt="logo" style="width: 200px">
    </div> -->
  </div>
</footer>
