<header class="header">

  <div class="header__personal">
    <!-- My photo -->
    <!-- <img class="header__personal-photo" src="{{ "/assets/img/halfeld2.jpeg" | prepend: site.baseurl }}" alt="" /> -->

    <!-- My informations -->
    <div class="header__personal-info">
      <h1 class="header__personal-info--name">{{ site.title }}</h1>
      <h2 class="header__personal-info--desc">Software Engineer</h2>
    </div>
  </div>

  <!-- Menu -->
  <nav class="header__nav">
    <ul>
      {% for link in site.links %}
        <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
