
// Box
// ===
.articles {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto;

  @media (max-width: 750px) {
    width: 95vw;
  }

  // Article
  // =======
  > .article {
    flex-basis: 25rem;
    transition: .1s linear all;
    text-decoration: none;
    color: #999;
    box-shadow: 0rem 0rem 10rem $color-gray;
    margin: {
      top: 1rem;
      bottom: 1rem;
    }

    @media (max-width: 750px) {
      flex-basis: 100vw;
    }

    &:hover,
    &:active {
      border-top: 2px solid $color-base;
      color: $color-black;
    }

    // Article info
    // ============
    > .article__box {
      position: relative;
      padding: 2rem;
      width: 30rem;
      @media (max-width: 750px) {
        width: 90%;
      }

      // Title
      // =====
      > .article__box--title {
        font-size: 3rem;
      }

      // Description
      // ===========
      > .article__box--desc {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      // Date
      // ====
      > .article__box--date {
        font-size: 1.2rem;
      }

      // Language
      // ========
      > .article__box--lang {
        position: absolute;
        background-color: $color-base;
        padding: 0.5rem;
        top: 1rem;
        right: -1.5rem;
        color: $color-gray;
        font-size: 1.2rem;
        opacity: 0.6;
        transform: rotate(45deg);
      }
    }
  }

}
