// Box
// ===
.articles {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto;

  @media (max-width: 750px) {
    width: 95vw;
  }

  // Article
  // =======
  > .article {
    flex-basis: 25rem;
    transition: 0.1s linear all;
    text-decoration: none;
    color: #999;
    box-shadow: 0rem 0rem 10rem $color-gray;
    margin: {
      top: 1rem;
      bottom: 1rem;
    }

    @media (max-width: 750px) {
      flex-basis: 100vw;
    }

    &:hover,
    &:active {
      border-top: 2px solid $color-base;
      color: $color-black;
    }

    // Article info
    // ============
    > .article__box {
      position: relative;
      padding: 2rem;
      width: 30rem;
      @media (max-width: 750px) {
        width: 90%;
      }

      // Title
      // =====
      > .article__box--title {
        font-size: 3rem;
      }

      // Description
      // ===========
      > .article__box--desc {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      // Date
      // ====
      > .article__box--date {
        font-size: 1.2rem;
      }

      // Language
      // ========
      > .article__box--lang {
        position: absolute;
        background-color: $color-base;
        padding: 0.5rem;
        top: 1rem;
        right: -1.5rem;
        color: $color-gray;
        font-size: 1.2rem;
        opacity: 0.6;
        transform: rotate(45deg);
      }
    }
  }
}

.article-content {
  width: 800px;
  margin: 5px auto;
  height: auto;
  font-family: $base-font-family;
  padding: 10px;

  @media (max-width: 750px) {
    width: 95%;
  }

  > img,
  > p > img {
    width: 100%;
  }

  > iframe {
    width: 100%;
  }

  code[class*="highlighter"] {
    background-color: lighten($color-base, 45%);
    color: #444;
    border-radius: 4px;
    padding: 3px;
    // font-weight bold
    font-size: 15px;
  }

  pre {
    padding: 10px;
    font-size: 1.6rem;
  }

  table {
    margin: 50px auto;
  }

  th,
  td {
    border: 2px solid #f4f4f4;
    padding: 10px;
  }

  blockquote {
    padding: 10px;
    border-left: 5px solid #f4f4f4;
    margin: 50px 0 50px 0;

    > p {
      color: #ccc;

      &::before,
      &:after {
        content: "";
        font-size: 22px;
      }
    }
  }

  iframe {
    height: 500px;
    margin: {
      top: 30px;
      bottom: 30px;
    }
  }

  h1 {
    font-size: 3rem;
    color: $color-black;
    margin-top: 30px;
  }

  h2 {
    font-size: 2.8rem;
    color: $color-black;
    margin-top: 30px;
  }

  p {
    font-size: 1.8rem;
    line-height: 180%;
    color: $color-black;
  }
}
