
// Reset some basic elements
// =========================
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


// Nhé nhé nhé style
// ==================
* {
  &::selection {
    background-color: rgb(156, 30, 223);
    color: white;
  }
}

// Basic styling
// =============
html,
body {
  width: 100%;
  font-family: $base-font-family;
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  font-size: 10px;

  @media (max-width: 510px) {
    font-size: 9px;
  }
}


// Snow Fx
// ======
.stars {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/img/banner10.jpg');
  -webkit-filter: blur(4px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

// Only for development
// ====================

// * {
//   background-color: rgba(0,0,0, 0.1);
// }
