.content {
  max-width: 90rem;
  padding: 10px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-black;

  &-cta {
    margin: 2rem auto;
    width: 100%;

    .btn {
      width: 100%;
      text-align: right;

      > a {
        color: $color-base;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 4px;
        transition: all 0.1s ease-in;
        &:hover {
          background-color: $color-base;
          color: white;
        }
      }
    }
  }

  &-image-left {
    display: flex;
    align-items: center;
    > img {
      width: 400px;
      border-radius: 4px;
      margin: 2rem;
      margin-left: 0rem;
    }
    @media (max-width: 750px) {
      flex-direction: column;
      justify-content: center;
      > img {
        width: 100%;
        margin: {
          top: 0rem;
          left: 0rem;
          right: 0rem;
          bottom: 2rem;
        }
      }
    }
  }
  &-image-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    > img {
      width: 400px;
      border-radius: 4px;
      margin: 2rem;
      margin-right: 0rem;
    }
    @media (max-width: 750px) {
      flex-direction: column;
      justify-content: center;
      > img {
        width: 100%;
        margin: {
          top: 0rem;
          left: 0rem;
          right: 0rem;
          bottom: 2rem;
        }
      }
    }
  }

  h1 {
    text-align: left;
    width: 100%;
    font-size: 4rem;
    margin: {
      top: 4rem;
      bottom: 1rem;
    }
  }

  p {
    font-size: 2rem;
    line-height: 160%;
  }

  a {
    text-decoration: underline;
    font-size: 2rem;
    color: inherit;

    &:hover {
      color: $color-base;
    }
  }
}
