// Footer
// ======
.footer {
  width: 100vw;
  height: 90px;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  // background-color: $color-gray;
  border-top: 1px solid $color-gray;
  color: $color-black;

  // Link's contact
  // ==============
  > .footer__sources {
    margin: 0px auto;
    padding: {
      left: 20px;
      right: 20px;
    }
    display: flex;
    justify-content: center;
    max-width: 900px;
    font-size: 2rem;

    .footer__sources--logo {
      display: flex;
      align-items: center;
    }

    .footer__sources--links {
      display: flex;
      justify-content: flex-start;

      > a {
        margin-left: 5px;
        margin-right: 5px;
        color: $color-black;
        &:hover {
          color: #956ec1;
        }
      }
    }
  }
}
