
// Header
// =======
.header {
  width: 100vw;
  height: 70vh;
  color: $color-gray;
  background-image: linear-gradient(35deg, rgba(156, 30, 223, 0.5), rgba(42, 23, 164, 0.5));
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // My information, e.g. Name and Description
  // =========================================
  > .header__personal {
    display: flex;
    flex-direction: row;

    flex-direction: column;
    align-items: center;
    text-align: center;

    // My photo
    // ========
    > .header__personal-photo {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
    }

    // Details
    // =======
    > .header__personal-info {

      // Name
      // ====
      > .header__personal-info--name {
        font-size: 4.5rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: {
          bottom: 0rem;
        }
      }

      // Description
      // ===========
      > .header__personal-info--desc {
        font-size: 3rem;
        font-weight: 300;
      }
    }
  }

}
