
// Header
// =======
.header {
  width: 100vw;
  height: 100vh;
  color: $color-gray;
  background-image: linear-gradient(35deg, rgba(156, 30, 223, 0.5), rgba(42, 23, 164, 0.5));
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // My information, e.g. Name and Description
  // =========================================
  > .header__personal {
    display: flex;
    flex-direction: row;

    flex-direction: column;
    align-items: center;
    text-align: center;

    // Details
    // =======
    > .header__personal-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      // Name
      // ====
      > .header__personal-info--name {
        font-size: 5.5rem;
        text-align: left;
        // text-transform: itlic;
        font-weight: 400;
        margin: {
          left: 100px;
          bottom: 30px;
        }
        @media screen and (max-width: 930px) {
          font-size: 4rem;
        }
        @media screen and (max-width: 810px) {
          font-size: 2.5rem;
          margin: {
            left: 10px;
            bottom: 10px;
          }
        }
      }

      // Description
      // ===========
      > .header__personal-info--desc {
        font-size: 17rem;
        font-weight: 700;
        text-align: left;
        line-height: 100%;
        // text-transform: uppercase;
        padding: {
          top: 0px;
          left: 100px;
          right: 100px;
          bottom: 0px;
        };

        @media screen and (max-width: 1250px) {
          font-size: 12rem;
        }
        @media screen and (max-width: 930px) {
          font-size: 10rem;
        }
        @media screen and (max-width: 810px) {
          font-size: 7rem;
          padding: 10px;
        }
      }
    }
  }

}
