// Header
// =======
.header {
  width: 100vw;
  height: 80vh;
  color: $color-gray;
  background-image: linear-gradient(
    35deg,
    rgba(156, 30, 223, 0.5),
    rgba(42, 23, 164, 0.5)
  );
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // My information, e.g. Name and Description
  // =========================================
  > .header__personal {
    display: flex;
    flex-direction: row;

    flex-direction: column;
    align-items: center;
    text-align: center;

    // Details
    // =======
    > .header__personal-info {
      //width: 1200px;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .header__personal-info--time {
        font-size: 2rem;
      }
      // Name
      // ====
      > .header__personal-info--desc {
        font-size: 5.5rem;
        text-align: center;
        width: 100%;
        // text-transform: itlic;
        font-weight: 400;

        // animation: enter-page 400ms ease-in-out;
        @media screen and (max-width: 930px) {
          font-size: 4rem;
        }
        @media screen and (max-width: 810px) {
          font-size: 2.5rem;
        }
      }

      // Description
      // ===========
      > .header__personal-info--name {
        font-size: 10rem;
        font-weight: 700;
        text-align: center;
        line-height: 100%;
        // text-transform: uppercase;
        animation: enter-page 400ms ease-in-out;
        padding: {
          top: -5px;
        }
        width: 100%;

        @media screen and (max-width: 1250px) {
          font-size: 12rem;
        }
        @media screen and (max-width: 930px) {
          font-size: 10rem;
        }
        @media screen and (max-width: 810px) {
          font-size: 7rem;
          padding: 10px;
        }
      }
    }
  }
}
