.project-alert-warning {
  padding: {
    left: 10px;
    right: 10px;
    top: 20px;
    bottom: 20px;
  }
  background-color: #f9f9f9;
  font-weight: 500;

  > p {
    text-align: center;
    font-size: 1.5rem;
    color: #444;
  }
}

// Box
// ===
.projects {
  width: 80vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;

  @media (max-width: 750px) {
    width: 95vw;
  }

  // Project
  // =======
  > .project {
    position: relative;
    width: 45%;
    transition: 0.1s linear all;
    text-decoration: none;
    padding: 2rem;
    color: #999;
    box-shadow: 0rem 0rem 10rem $color-gray;
    border-left: 5px solid $color-base;
    margin: {
      top: 1rem;
      bottom: 1rem;
      left: auto;
      right: auto;
    }

    @media (max-width: 750px) {
      flex-basis: 100vw;
    }

    > .project--title {
      font-size: 3rem;
      color: $color-black;
    }

    > .project--desc {
      font-size: 1.5rem;
      font-weight: 300;
    }

    > .project--star {
      position: absolute;
      font-size: 2rem;
      top: 2rem;
      right: 2rem;

      > .project--staricon {
        width: 1vw;
        height: 1vw;
        // fill: $color-base;
      }
    }
  }
}
