<!DOCTYPE html>
<html id="app" style="overflow: hidden;">

  {% include head.html %}

  <body>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,700" rel="stylesheet">

    <div id="loading" class="loading">
      <span class="loading-spinner"></span>
    </div>

    <script type="application/ld+json">
      {
        "@context": "http://www.schema.org",
        "@type": "person",
        "@id": "https://www.igorluiz.me",
        "name": "Igor Luiz Halfeld",
        "spouse": {
          "@id": "https://github.com/igorhalfeld",
          "name": "Igor Halfeld"
        }
      }
    </script>

    {% include sprite.html %}

    {% if page.image %}
      <div
        style="background-image: url('/assets/img/{{ page.image }}')"
        class="stars"
        id="stars"></div>
    {% else %}
      <div
        class="stars"
        id="stars"></div>
    {% endif %}

    <div class="wapper" id="wrapper">

      <div class="canvas">
        <div
          class="menu">
  
          <!-- Menu list -->
          <nav class="nav">
            <h2>{{ label }}</h2>
            <ul>
              {% for link in site.links %}
                <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}

            </ul>
          </nav>

          <!-- Menu icon -->
          <svg class="toggle-menu" id="btn-menu" viewBox="0 0 100 125">
            <g>
              <path fill="#fff" d="M15.7,31.7h69c0.6,0,1-0.4,1-1s-0.4-1-1-1h-69c-0.6,0-1,0.4-1,1S15.2,31.7,15.7,31.7z"/>
              <path fill="#fff" d="M84.8,49.1h-69c-0.6,0-1,0.4-1,1s0.4,1,1,1h69c0.6,0,1-0.4,1-1S85.3,49.1,84.8,49.1z"/>
              <path fill="#fff" d="M84.8,68.5h-69c-0.6,0-1,0.4-1,1s0.4,1,1,1h69c0.6,0,1-0.4,1-1S85.3,68.5,84.8,68.5z"/>
            </g>
          </svg>
  
        </div>
  
        <!-- Custom header -->
        <header class="menu-content">
          {% include header.html %}
        
          {% if page.markdown %}
            <article class="content">
              {{ content }}
            </article>
          {% else %}
            {{ content }}
          {% endif %}
      
        </header>
      </div>
    </div>
    {% include footer.html %}
    {% include analytics.html %}
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
