<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <script type="application/ld+json">
      {
        "@context": "http://www.schema.org",
        "@type": "person",
        "@id": "http://www.igorluiz.me",
        "name": "Igor Luíz",
        "spouse": {
          "@id": "https://github.com/igorhalfeld",
          "name": "Igor Halfeld"
        }
      }
    </script>

    {% include sprite.html %}
    {% include header.html %}

    <!-- Particles -->
    <div class="stars" id="stars"></div>
    {% if page.index %}
      <article class="content">
        {{ content }}
      </article>
    {% else %}
      {{ content }}
    {% endif %}

    {% include footer.html %}
    {% include analytics.html %}
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
